<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated construc -->
      <package
            uri="http://construc/1.0"
            class="Construc.construc.ConstrucPackage"
            genModel="model/construc.genmodel"/>
   </extension>

</plugin>
