<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modeldos -->
      <package
            uri="http://modeldos/1.0"
            class="Modeldos.modeldos.ModeldosPackage"
            genModel="model/modeldos.genmodel"/>
   </extension>

</plugin>
