<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="metawebdesign_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="metawebdesign_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MetawebdesignDiagramFile.gif"
         extensions="metawebdesign_diagram"
         default="true"
         class="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditor"
         matchingStrategy="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignMatchingStrategy"
         contributorClass="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="Metawebdesign.metawebdesign.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MetawebdesignDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignCreationWizard"
  	     id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="Editor_MWD.diagram.InitDiagram"
            nameFilter="*.metawebdesign"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="Editor_MWD.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MetaWebDesignPresentation">
         <Priority name="Lowest"/>
         <ViewId id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MetaWebDesignPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MetaWebDesignRender">
         <Priority name="Lowest"/>
         <ViewId id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="Metawebdesign.metawebdesign.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="Editor_MWD.diagram.general"
            name="%prefpage.Editor_MWD.diagram.general"
            class="Metawebdesign.metawebdesign.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="Editor_MWD.diagram.appearance"
            name="%prefpage.Editor_MWD.diagram.appearance"
            category="Editor_MWD.diagram.general"
            class="Metawebdesign.metawebdesign.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="Editor_MWD.diagram.connections"
            name="%prefpage.Editor_MWD.diagram.connections"
            category="Editor_MWD.diagram.general"
            class="Metawebdesign.metawebdesign.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="Editor_MWD.diagram.printing"
            name="%prefpage.Editor_MWD.diagram.printing"
            category="Editor_MWD.diagram.general"
            class="Metawebdesign.metawebdesign.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="Editor_MWD.diagram.rulersAndGrid"
            name="%prefpage.Editor_MWD.diagram.rulersAndGrid"
            category="Editor_MWD.diagram.general"
            class="Metawebdesign.metawebdesign.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="Editor_MWD.diagram"
            labelProvider="Metawebdesign.metawebdesign.diagram.sheet.MetaWebDesignSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="Editor_MWD.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="Editor_MWD.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="Metawebdesign.metawebdesign.diagram.sheet.MetaWebDesignPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="Metawebdesign.metawebdesign.diagram.providers.MetaWebDesignViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="MetaWebDesign"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2005,2011,2010,2009,2007,2006,2008,2004,2003,2002,2012,2001,3001,3002,3003,3004,3005,3006,3007"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4003,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="Metawebdesign.metawebdesign.diagram.providers.MetaWebDesignEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="MetaWebDesign"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2005,2011,2010,2009,2007,2006,2008,2004,2003,2002,2012,2001,3001,3002,3003,3004,3005,3006,3007"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4003,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5009,5017,5014,5013,5011,5010,5012,5008,5007,5002,5019,5001,5003,5006,5004,5005,5015,5016,5018"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7003,7002,7005,7004,7001,7006"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfRootEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.RootEditPart" id="Root_1000"/>
         <context elements="Root_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfFormEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.FormEditPart" id="Form_2005"/>
         <context elements="Form_2005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfClassEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.ClassEditPart" id="Class_2011"/>
         <context elements="Class_2011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfLinkViewCRUDEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.LinkViewCRUDEditPart" id="LinkViewCRUD_2010"/>
         <context elements="LinkViewCRUD_2010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfGroupEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.GroupEditPart" id="Group_2009"/>
         <context elements="Group_2009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfNavegationMenuEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.NavegationMenuEditPart" id="NavegationMenu_2007"/>
         <context elements="NavegationMenu_2007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfCallAtributeEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.CallAtributeEditPart" id="CallAtribute_2006"/>
         <context elements="CallAtribute_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfNotDerivedEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.NotDerivedEditPart" id="NotDerived_2008"/>
         <context elements="NotDerived_2008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfDerivedEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.DerivedEditPart" id="Derived_2004"/>
         <context elements="Derived_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfPageEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.PageEditPart" id="Page_2003"/>
         <context elements="Page_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfConstraintEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.ConstraintEditPart" id="Constraint_2002"/>
         <context elements="Constraint_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfMenuEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.MenuEditPart" id="Menu_2012"/>
         <context elements="Menu_2012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfLinkViewEditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.LinkViewEditPart" id="LinkView_2001"/>
         <context elements="LinkView_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfCallAtribute2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.CallAtribute2EditPart" id="CallAtribute_3001"/>
         <context elements="CallAtribute_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfNavegationMenu2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.NavegationMenu2EditPart" id="NavegationMenu_3002"/>
         <context elements="NavegationMenu_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfLinkView2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.LinkView2EditPart" id="LinkView_3003"/>
         <context elements="LinkView_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfLinkViewCRUD2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.LinkViewCRUD2EditPart" id="LinkViewCRUD_3004"/>
         <context elements="LinkViewCRUD_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfDerived2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.Derived2EditPart" id="Derived_3005"/>
         <context elements="Derived_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfNotDerived2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.NotDerived2EditPart" id="NotDerived_3006"/>
         <context elements="NotDerived_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Metawebdesign.metawebdesign.diagram.providers.assistants.MetaWebDesignModelingAssistantProviderOfGroup2EditPart">
         <Priority name="Lowest"/>
         <object class="Metawebdesign.metawebdesign.diagram.edit.parts.Group2EditPart" id="Group_3007"/>
         <context elements="Group_3007"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="Metawebdesign.metawebdesign.diagram.providers.MetaWebDesignIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="Metawebdesign.metawebdesign.diagram.providers.MetaWebDesignParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Root_1000"
               name="%metatype.name.Root_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Root"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.RootEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Form_2005"
               name="%metatype.name.Form_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Form"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.FormEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Class_2011"
               name="%metatype.name.Class_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.LinkViewCRUD_2010"
               name="%metatype.name.LinkViewCRUD_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.LinkViewCRUD_3004"/>
            <param name="semanticHint" value="2010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Group_2009"
               name="%metatype.name.Group_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Group"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.GroupEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.NavegationMenu_2007"
               name="%metatype.name.NavegationMenu_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.NavegationMenu_3002"/>
            <param name="semanticHint" value="2007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.CallAtribute_2006"
               name="%metatype.name.CallAtribute_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.CallAtribute_3001"/>
            <param name="semanticHint" value="2006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.NotDerived_2008"
               name="%metatype.name.NotDerived_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.NotDerived_3006"/>
            <param name="semanticHint" value="2008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.Derived_2004"
               name="%metatype.name.Derived_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.Derived_3005"/>
            <param name="semanticHint" value="2004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Page_2003"
               name="%metatype.name.Page_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Page"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.PageEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Constraint_2002"
               name="%metatype.name.Constraint_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Constraint"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.ConstraintEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Menu_2012"
               name="%metatype.name.Menu_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Menu"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.MenuEditHelper">
            <param name="semanticHint" value="2012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.LinkView_2001"
               name="%metatype.name.LinkView_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.LinkView_3003"/>
            <param name="semanticHint" value="2001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.CallAtribute_3001"
               name="%metatype.name.CallAtribute_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CallAtribute"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.CallAtributeEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.NavegationMenu_3002"
               name="%metatype.name.NavegationMenu_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NavegationMenu"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.NavegationMenuEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.LinkView_3003"
               name="%metatype.name.LinkView_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LinkView"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.LinkViewEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.LinkViewCRUD_3004"
               name="%metatype.name.LinkViewCRUD_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LinkViewCRUD"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.LinkViewCRUDEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.Derived_3005"
               name="%metatype.name.Derived_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Derived"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.DerivedEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.NotDerived_3006"
               name="%metatype.name.NotDerived_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NotDerived"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.NotDerivedEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <specializationType
               id="Editor_MWD.diagram.Group_3007"
               name="%metatype.name.Group_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="Editor_MWD.diagram.Group_2009"/>
            <param name="semanticHint" value="3007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.RelationContraint_4001"
               name="%metatype.name.RelationContraint_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RelationContraint"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.RelationContraintEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.RelationView_4003"
               name="%metatype.name.RelationView_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RelationView"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.RelationViewEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://metawebdesign/1.0">
         <metamodelType
               id="Editor_MWD.diagram.RelationClass_4002"
               name="%metatype.name.RelationClass_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RelationClass"
               edithelper="Metawebdesign.metawebdesign.diagram.edit.helpers.RelationClassEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="Editor_MWD.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="Editor_MWD.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="Editor_MWD.diagram.TypeContext">
         <elementType ref="Editor_MWD.diagram.Root_1000"/>
         <elementType ref="Editor_MWD.diagram.Form_2005"/>
         <elementType ref="Editor_MWD.diagram.Class_2011"/>
         <elementType ref="Editor_MWD.diagram.LinkViewCRUD_2010"/>
         <elementType ref="Editor_MWD.diagram.Group_2009"/>
         <elementType ref="Editor_MWD.diagram.NavegationMenu_2007"/>
         <elementType ref="Editor_MWD.diagram.CallAtribute_2006"/>
         <elementType ref="Editor_MWD.diagram.NotDerived_2008"/>
         <elementType ref="Editor_MWD.diagram.Derived_2004"/>
         <elementType ref="Editor_MWD.diagram.Page_2003"/>
         <elementType ref="Editor_MWD.diagram.Constraint_2002"/>
         <elementType ref="Editor_MWD.diagram.Menu_2012"/>
         <elementType ref="Editor_MWD.diagram.LinkView_2001"/>
         <elementType ref="Editor_MWD.diagram.CallAtribute_3001"/>
         <elementType ref="Editor_MWD.diagram.NavegationMenu_3002"/>
         <elementType ref="Editor_MWD.diagram.LinkView_3003"/>
         <elementType ref="Editor_MWD.diagram.LinkViewCRUD_3004"/>
         <elementType ref="Editor_MWD.diagram.Derived_3005"/>
         <elementType ref="Editor_MWD.diagram.NotDerived_3006"/>
         <elementType ref="Editor_MWD.diagram.Group_3007"/>
         <elementType ref="Editor_MWD.diagram.RelationContraint_4001"/>
         <elementType ref="Editor_MWD.diagram.RelationView_4003"/>
         <elementType ref="Editor_MWD.diagram.RelationClass_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="Editor_MWD.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="Editor_MWD.diagram"
           properties="isURIEditorInput"
           class="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="Editor_MWD.diagram.resourceContent"/>
			<contentExtension pattern="Editor_MWD.diagram.domainResourceContent"/>
            <contentExtension pattern="Editor_MWD.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="Editor_MWD.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="Editor_MWD.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignNavigatorContentProvider" 
            labelProvider="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignNavigatorLabelProvider"
            icon="icons/obj16/MetawebdesignDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="metawebdesign_diagram"/>
               </and>
               <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="Editor_MWD.diagram.navigatorSorter" 
               class="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="metawebdesign_diagram"/>
                  </and>
                  <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="Editor_MWD.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignDomainNavigatorContentProvider" 
            labelProvider="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignDomainNavigatorLabelProvider"
            icon="icons/obj16/MetawebdesignDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="metawebdesign"/>
               </and>
               <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="Editor_MWD.diagram.navigatorActionProvider"
            class="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="Editor_MWD.diagram.navigatorLinkHelper"
            class="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="Editor_MWD.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="Metawebdesign.metawebdesign.diagram.navigator.MetaWebDesignAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramUpdateCommand"
         description="%update.diagram.description"
         id="Metawebdesign.metawebdesign.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="Metawebdesign.metawebdesign.diagram.updateDiagram"
         contextId="Metawebdesign.metawebdesign.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="Editor_MWD.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="Metawebdesign.metawebdesign.diagram.edit.parts.RootEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="Editor_MWD.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="Metawebdesign.metawebdesign.diagram.part.MetaWebDesignDiagramEditorID"
         defaultHandler="Metawebdesign.metawebdesign.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
