<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modeldos -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Modeldos.modeldos.presentation.ModeldosModelWizardID"
            name="%_UI_ModeldosModelWizard_label"
            class="Modeldos.modeldos.presentation.ModeldosModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModeldosModelFile.gif">
         <description>%_UI_ModeldosModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modeldos -->
      <editor
            id="Modeldos.modeldos.presentation.ModeldosEditorID"
            name="%_UI_ModeldosEditor_label"
            icon="icons/full/obj16/ModeldosModelFile.gif"
            extensions="modeldos"
            class="Modeldos.modeldos.presentation.ModeldosEditor"
            contributorClass="Modeldos.modeldos.presentation.ModeldosActionBarContributor">
      </editor>
   </extension>

</plugin>
