<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="modeldos_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="modeldos_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ModeldosDiagramFile.gif"
         extensions="modeldos_diagram"
         default="true"
         class="Modeldos.modeldos.diagram.part.ModeldosDiagramEditor"
         matchingStrategy="Modeldos.modeldos.diagram.part.ModeldosMatchingStrategy"
         contributorClass="Modeldos.modeldos.diagram.part.ModeldosDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="Modeldos.modeldos.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ModeldosDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="Modeldos.modeldos.diagram.part.ModeldosCreationWizard"
  	     id="Modeldos.modeldos.diagram.part.ModeldosCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="modeldos.diagram.InitDiagram"
            nameFilter="*.modeldos"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="Modeldos.modeldos.diagram.part.ModeldosInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="modeldos.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ModeldosPresentation">
         <Priority name="Lowest"/>
         <ViewId id="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ModeldosPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ModeldosRender">
         <Priority name="Lowest"/>
         <ViewId id="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="Modeldos.modeldos.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="modeldos.diagram.general"
            name="%prefpage.modeldos.diagram.general"
            class="Modeldos.modeldos.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="modeldos.diagram.appearance"
            name="%prefpage.modeldos.diagram.appearance"
            category="modeldos.diagram.general"
            class="Modeldos.modeldos.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="modeldos.diagram.connections"
            name="%prefpage.modeldos.diagram.connections"
            category="modeldos.diagram.general"
            class="Modeldos.modeldos.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="modeldos.diagram.printing"
            name="%prefpage.modeldos.diagram.printing"
            category="modeldos.diagram.general"
            class="Modeldos.modeldos.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="modeldos.diagram.rulersAndGrid"
            name="%prefpage.modeldos.diagram.rulersAndGrid"
            category="modeldos.diagram.general"
            class="Modeldos.modeldos.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="modeldos.diagram"
            labelProvider="Modeldos.modeldos.diagram.sheet.ModeldosSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="modeldos.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="modeldos.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="Modeldos.modeldos.diagram.sheet.ModeldosPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="Modeldos.modeldos.diagram.providers.ModeldosViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Modeldos"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2003,2006,2001,2005,2004,2002,2007"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="Modeldos.modeldos.diagram.providers.ModeldosEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Modeldos"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2003,2006,2001,2005,2004,2002,2007"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5004,5009,5002,5006,5005,5003,5010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfRootEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.RootEditPart" id="Root_1000"/>
         <context elements="Root_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfNotDerivedEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.NotDerivedEditPart" id="NotDerived_2003"/>
         <context elements="NotDerived_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfClassEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.ClassEditPart" id="Class_2006"/>
         <context elements="Class_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfMenuEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.MenuEditPart" id="Menu_2001"/>
         <context elements="Menu_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfPageEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.PageEditPart" id="Page_2005"/>
         <context elements="Page_2005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfFormEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.FormEditPart" id="Form_2004"/>
         <context elements="Form_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfGroupEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.GroupEditPart" id="Group_2002"/>
         <context elements="Group_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="Modeldos.modeldos.diagram.providers.assistants.ModeldosModelingAssistantProviderOfDerivedEditPart">
         <Priority name="Lowest"/>
         <object class="Modeldos.modeldos.diagram.edit.parts.DerivedEditPart" id="Derived_2007"/>
         <context elements="Derived_2007"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="Modeldos.modeldos.diagram.providers.ModeldosIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="Modeldos.modeldos.diagram.providers.ModeldosParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Root_1000"
               name="%metatype.name.Root_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Root"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.RootEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.NotDerived_2003"
               name="%metatype.name.NotDerived_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NotDerived"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.NotDerivedEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Class_2006"
               name="%metatype.name.Class_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Menu_2001"
               name="%metatype.name.Menu_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Menu"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.MenuEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Page_2005"
               name="%metatype.name.Page_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Page"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.PageEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Form_2004"
               name="%metatype.name.Form_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Form"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.FormEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Group_2002"
               name="%metatype.name.Group_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Group"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.GroupEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.Derived_2007"
               name="%metatype.name.Derived_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Derived"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.DerivedEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://modeldos/1.0">
         <metamodelType
               id="modeldos.diagram.RelationClass_4001"
               name="%metatype.name.RelationClass_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RelationClass"
               edithelper="Modeldos.modeldos.diagram.edit.helpers.RelationClassEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="modeldos.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="modeldos.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="modeldos.diagram.TypeContext">
         <elementType ref="modeldos.diagram.Root_1000"/>
         <elementType ref="modeldos.diagram.NotDerived_2003"/>
         <elementType ref="modeldos.diagram.Class_2006"/>
         <elementType ref="modeldos.diagram.Menu_2001"/>
         <elementType ref="modeldos.diagram.Page_2005"/>
         <elementType ref="modeldos.diagram.Form_2004"/>
         <elementType ref="modeldos.diagram.Group_2002"/>
         <elementType ref="modeldos.diagram.Derived_2007"/>
         <elementType ref="modeldos.diagram.RelationClass_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="modeldos.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="modeldos.diagram"
           properties="isURIEditorInput"
           class="Modeldos.modeldos.diagram.part.ModeldosUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="modeldos.diagram.resourceContent"/>
			<contentExtension pattern="modeldos.diagram.domainResourceContent"/>
            <contentExtension pattern="modeldos.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="modeldos.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="modeldos.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="Modeldos.modeldos.diagram.navigator.ModeldosNavigatorContentProvider" 
            labelProvider="Modeldos.modeldos.diagram.navigator.ModeldosNavigatorLabelProvider"
            icon="icons/obj16/ModeldosDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="modeldos_diagram"/>
               </and>
               <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="modeldos.diagram.navigatorSorter" 
               class="Modeldos.modeldos.diagram.navigator.ModeldosNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="modeldos_diagram"/>
                  </and>
                  <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="modeldos.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="Modeldos.modeldos.diagram.navigator.ModeldosDomainNavigatorContentProvider" 
            labelProvider="Modeldos.modeldos.diagram.navigator.ModeldosDomainNavigatorLabelProvider"
            icon="icons/obj16/ModeldosDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="modeldos"/>
               </and>
               <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="modeldos.diagram.navigatorActionProvider"
            class="Modeldos.modeldos.diagram.navigator.ModeldosNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="modeldos.diagram.navigatorLinkHelper"
            class="Modeldos.modeldos.diagram.navigator.ModeldosNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="modeldos.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="Modeldos.modeldos.diagram.navigator.ModeldosAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="Modeldos.modeldos.diagram.part.ModeldosDiagramUpdateCommand"
         description="%update.diagram.description"
         id="Modeldos.modeldos.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="Modeldos.modeldos.diagram.updateDiagram"
         contextId="Modeldos.modeldos.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="modeldos.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="Modeldos.modeldos.diagram.edit.parts.RootEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="modeldos.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="Modeldos.modeldos.diagram.part.ModeldosDiagramEditorID"
         defaultHandler="Modeldos.modeldos.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
