<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="oo_method_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="oo_method_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="oo_method.diagram.part.Oo_methodDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/Oo_methodDiagramFile.gif"
         extensions="oo_method_diagram"
         default="true"
         class="oo_method.diagram.part.Oo_methodDiagramEditor"
         matchingStrategy="oo_method.diagram.part.Oo_methodMatchingStrategy"
         contributorClass="oo_method.diagram.part.Oo_methodDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="oo_method.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/Oo_methodDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="oo_method.diagram.part.Oo_methodCreationWizard"
  	     id="oo_method.diagram.part.Oo_methodCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

      <extension point="org.eclipse.ui.actionSets" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <actionSet
            label="%initDiagramActionLabel"
            visible="true"
            id="oo_method.diagram.InitDiagram">
         <action
               label="%initDiagramActionLabel"
               class="oo_method.diagram.part.Oo_methodInitDiagramFileAction"
               menubarPath="file/additions"
               id="oo_method.diagram.InitDiagramAction">
         </action>
      </actionSet>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="Oo_methodPresentation">
         <Priority name="Lowest"/>
         <ViewId id="oo_method.diagram.part.Oo_methodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="Oo_methodRender">
         <Priority name="Lowest"/>
         <ViewId id="oo_method.diagram.part.Oo_methodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="oo_method.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="oo_method.diagram.general"
            name="%prefpage.oo_method.diagram.general"
            class="oo_method.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="oo_method.diagram.appearance"
            name="%prefpage.oo_method.diagram.appearance"
            category="oo_method.diagram.general"
            class="oo_method.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="oo_method.diagram.connections"
            name="%prefpage.oo_method.diagram.connections"
            category="oo_method.diagram.general"
            class="oo_method.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="oo_method.diagram.printing"
            name="%prefpage.oo_method.diagram.printing"
            category="oo_method.diagram.general"
            class="oo_method.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="oo_method.diagram.rulersAndGrid"
            name="%prefpage.oo_method.diagram.rulersAndGrid"
            category="oo_method.diagram.general"
            class="oo_method.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="oo_method.diagram"
            labelProvider="oo_method.diagram.sheet.Oo_methodSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="oo_method.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="oo_method.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="oo_method.diagram.sheet.Oo_methodPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="oo_method.diagram.providers.Oo_methodViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Oo_method"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="oo_method.diagram.providers.Oo_methodEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Oo_method"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="oo_method.diagram.providers.Oo_methodModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="oo_method.diagram.edit.parts.StructuralModelEditPart" id="StructuralModel_1000"/>
         <object class="oo_method.diagram.edit.parts.ClassEditPart" id="Class_2001"/>
         <context elements="StructuralModel_1000,Class_2001,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="oo_method.diagram.providers.Oo_methodIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="oo_method.diagram.providers.Oo_methodParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://oo_method/1.0">
         <metamodelType
               id="oo_method.diagram.StructuralModel_1000"
               name="%metatype.name.StructuralModel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StructuralModel"
               edithelper="oo_method.diagram.edit.helpers.StructuralModelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://oo_method/1.0">
         <metamodelType
               id="oo_method.diagram.Class_2001"
               name="%metatype.name.Class_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="oo_method.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="oo_method.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="oo_method.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="oo_method.diagram.TypeContext">
         <elementType ref="oo_method.diagram.StructuralModel_1000"/>
         <elementType ref="oo_method.diagram.Class_2001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>

   <extension id="Oo_methodApplication" point="org.eclipse.core.runtime.applications">
      <?gmfgen generated="true"?>
      <application>
         <run class="oo_method.diagram.application.Oo_methodApplication"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives" id="rcp-perspective">
      <?gmfgen generated="true"?>
      <perspective
            id="oo_method.diagram.Oo_methodPerspective"
            name="%perspectiveName"
            class="oo_method.diagram.application.DiagramEditorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands" id="rcp-menu-commands">
      <?gmfgen generated="true"?>
      <command
            name="%openURIActionLabel"
            description="%openURIActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="oo_method.diagram.OpenURICommand"/>  
      <command
            name="%openActionLabel"
            description="%openActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="oo_method.diagram.OpenCommand"/>  
   </extension>

   <extension point="org.eclipse.ui.bindings" id="rcp-command-bindings">
      <?gmfgen generated="true"?>
      <key
            commandId="oo_method.diagram.OpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="oo_method.diagram.OpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets" id="rcp-actions">
      <?gmfgen generated="true"?>
      <actionSet
            label="%applicationActionSetLabel"
            visible="true"
            id="oo_method.diagram.ActionSet">
         <action
               label="%newDiagramActionLabel"
               class="oo_method.diagram.application.DiagramEditorActionBarAdvisor$NewDiagramAction"
               menubarPath="file/new/additions"
               id="oo_method.diagram.NewDiagramAction">
         </action>
         <action
               label="%aboutActionLabel"
               class="oo_method.diagram.application.DiagramEditorActionBarAdvisor$AboutAction"
               menubarPath="help/additions"
               id="oo_method.diagram.AboutAction">
         </action>
         <action
               label="%openURIActionLabel"
               definitionId="oo_method.diagram.OpenURICommand"
               class="oo_method.diagram.application.DiagramEditorActionBarAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="oo_method.diagram.OpenURIAction">
         </action>
         <action
               label="%openActionLabel"
               definitionId="oo_method.diagram.OpenCommand"
               class="oo_method.diagram.application.DiagramEditorActionBarAdvisor$OpenAction"
               menubarPath="file/additions"
               id="oo_method.diagram.OpenAction">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="oo_method.diagram.part.Oo_methodDiagramUpdateCommand"
         description="%update.diagram.description"
         id="oo_method.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="oo_method.diagram.updateDiagram"
         contextId="oo_method.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="oo_method.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="oo_method.diagram.part.Oo_methodDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="oo_method.diagram.edit.parts.StructuralModelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="oo_method.diagram.part.Oo_methodDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="oo_method.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="oo_method.diagram.part.Oo_methodDiagramEditorID"
         defaultHandler="oo_method.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
