<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modeluno -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Modeluno.modeluno.presentation.ModelunoModelWizardID"
            name="%_UI_ModelunoModelWizard_label"
            class="Modeluno.modeluno.presentation.ModelunoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelunoModelFile.gif">
         <description>%_UI_ModelunoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modeluno -->
      <editor
            id="Modeluno.modeluno.presentation.ModelunoEditorID"
            name="%_UI_ModelunoEditor_label"
            icon="icons/full/obj16/ModelunoModelFile.gif"
            extensions="modeluno"
            class="Modeluno.modeluno.presentation.ModelunoEditor"
            contributorClass="Modeluno.modeluno.presentation.ModelunoActionBarContributor">
      </editor>
   </extension>

</plugin>
