<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated construc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Construc.construc.presentation.ConstrucModelWizardID"
            name="%_UI_ConstrucModelWizard_label"
            class="Construc.construc.presentation.ConstrucModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConstrucModelFile.gif">
         <description>%_UI_ConstrucModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated construc -->
      <editor
            id="Construc.construc.presentation.ConstrucEditorID"
            name="%_UI_ConstrucEditor_label"
            icon="icons/full/obj16/ConstrucModelFile.gif"
            extensions="construc"
            class="Construc.construc.presentation.ConstrucEditor"
            contributorClass="Construc.construc.presentation.ConstrucActionBarContributor">
      </editor>
   </extension>

</plugin>
